.Modal_register{
    width: 450px;
    height: 550px;
    background-color: #e1d9d9bd;
    margin: auto;
    position: relative;
    border-radius: 5px;
    margin-top: 50px;
}
.Modal-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    font-size: 20px;
}
.Modal-form input {
    border-color: none;
    box-sizing: border-box;
    padding-left: 15px;
    width: 375px;
    height: 50px;
    margin-bottom: 15px ;
    font-size: 17px;
    outline: 1px black;
}
.Register_title {
    text-align: center;
    margin-bottom: 40px;
    margin-top: 20px;
    padding-top: 80px;
    font-size: 30px;
}
input[type="radio"]{
    margin-bottom: unset;
    width: 15px;
    height: 15px;
}
input[type="date"]{
    font-size: 12px;
    padding: 5px;
}
a{
    text-decoration: none;
}
